/* .quiz-option {
  margin: 10px;
}

input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}

label {
  cursor: pointer;
}


*/
#instructionForm .MuiDialog-paperWidthSm {
  width: 50% !important;
  max-width: 50% !important;
  max-height: 90% !important;
} 
/* new css */
.newquiz-option {
  padding: 2rem 1rem 1rem 1rem;
}

input[type="radio"] {
  margin-right: 1rem;
  cursor: pointer;
}

label {
  cursor: pointer;
  font-size: 1.1rem;
}
