* {
    margin: 0;
    box-sizing: border-box;
    
}
/* .navbar-toggler{
    width: 100%;
    border-color: rgb(232, 232, 232);
    height: 53px;
    color: white;
    background-color: white;
    box-shadow: #f7f9fa;
    
}
navbar-toggler:focus{
    background-color: rgb(235, 243, 243);
    
} */
a{
    margin: 45px;
    color: black;
    font-size: 15px;
    font-family: var(--font-stack-heading-serif);
    text-decoration: none;
}
.coursesTop{
    
    margin-top: 20px;
    font-size: 35px;
    font-style: bold;
    font-family: 'Anton', sans-serif;
    color: black; 
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:#f7f9fa;
    box-shadow: rgb(214, 209, 209);

    /* margin: 30px;   */
}
.left{
    font-family: 'Anton', sans-serif;
    margin-left: 50px;
    color:  rgb(88, 88, 88);
    display: flex;
    justify-content: left;
    font-size:40px;
    
    
}

.rightt{
    height: 110px;
    width: 90%;
    display: flex;
    margin-top: 8px;
    background-color: white;
    color: black;
    font-size: 17px;
    
    font-family: 'Anton', sans-serif;
    /* margin: 10px; */
    border-radius: 8px;
    
    box-shadow: rgb(129, 187, 203);
    justify-content: center;
    align-items: center;
    border-color: rgb(119, 117, 117);
    padding: 9px;
    margin-left: 55px;
}

.topimg{
    height: 450px;
    width:750px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 710px;
}

.courseBox{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color:var(--bg-clr);
    justify-content: space-evenly;

}
/* 
.Cbox{

        height: 450px;
        width: 350px;
        background-color: var(--form);
        color: black;
        font-size: 17px;
        font-family: 'Anton', sans-serif;
        margin: 10px;
        border-radius: 8px;
        border-color: whitesmoke;
        box-shadow: rgb(180, 177, 177);
        border-style: solid;
        justify-content: center;
        align-items: center;
        padding: 19px;
    
} */

.courseImg{
    height: 180px;
    width: 100%;
    /* margin-left: 30px; */
    margin-top: 20px;
    box-shadow: #f7f9fa;
    margin-bottom: 20px;
   
}

.cTop{
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 17px;
    margin-left: -15px;
    color:var(--main-heading);
}
.courseBox{
    height: auto;
    width: 100%;
    display: flex;


}

.Cbox{

        height: 450px;
        width: 350px;
        background-color: var(--form);
        color: black;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
        border-radius: 8px;
        border-color: whitesmoke;
        box-shadow: rgb(180, 177, 177);
        border-style: solid;
        justify-content: center;
        align-items: center;
        padding: 19px;
    
}

.subscribe-btn{
    width: 80%;
    height: 2em;
    background-color:var(--btn-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    color: var(--btn-text-clr);
    border-radius: 4px;
    padding: 19px;
    margin-left: 35px;
    margin-top: 30PX;
}

.subscribe-btn:hover{
    cursor: pointer;
    transition: 0.27s;
    transform: scale(1.10);
}

.backdropbox{
    margin-top: 10px;
    height: 300px;
    background-color: whitesmoke;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 27px;
}

.dropbox{
    background-color: whitesmoke;
}

