* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
  
}
body{
  background-color: var(--bg-clr);
}

/* .navbar-toggler{
    width: 100%;
    border-color: rgb(232, 232, 232);
    height: 53px;
    color: black;
    box-shadow: #f7f9fa;
    
} */
/* navbar-toggler:focus{
    background-color: rgb(235, 243, 243);
    
} */
a {
  margin: 45px;
  color: black;
  font-size: 15px;
  font-family: var(--font-stack-heading-serif);
  text-decoration: none;
}

html {
  font-size: 99.5%;
}

:root {
  --main-color: #333;
  --primary-color: #acacac;
  --icon-color: #525252;
}

i {
  width: 2rem;
  height: 2rem;
}

.fa,
.fas {
  font-weight: 900;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.arrow-icon {
  cursor: pointer;
}

header {
  width: 100%;
  line-height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.1rem solid #9a9191;
  transform: rotate(-0.05deg);
  margin-bottom: 2rem;
}

.continue-shopping {
  display: flex;
  height: inherit;
  align-items: center;
}

.continue-shopping .arrow-icon {
  width: 2.2rem;
  height: 1.7rem;
  margin-left: 17px;
}

.continue-shopping h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-left: 1.5rem;
  font-weight: 400;
}

.main-cart-section h1 {
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  color:var(--main-heading);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

 .cart-item {
  /* background: linear-gradient(
        103.49deg,
        #ffffff -28.13%,
        rgba(242, 247, 255, 0.5) 116.84%
      ); */
  /* background-color: #f7f9fa; */
  /* box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem; */
  border-radius: 2rem;
  display: flex;
  place-items: center;
  gap:1rem;
  padding: 10px;
  
}

/* .listcat{
  font-size: 2px;
} */


.cart-items hr {
  margin: 2rem auto;
  overflow-y: scroll;
}

/* .cart-items{ */
  /* width: 98%;
  height: 20em;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  background-color: var(--form); */
  /* justify-content: space-evenly; */


.cart-items-container-list{
  width: 95%;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 3rem;
  background-color: var(--form);
}
.cart-items-container-list{
  width: 95%;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.items-info {
  width: 100%;
  height: 11rem;
  /* background-color: lavender; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 0.1rem solid #9a9191;
}
.list-img{
  width: 100%;
  height: 150px;
  /* Set a specific height for the images */
  object-fit: cover;
  margin-left:40px;
  /* Maintain aspect ratio and cover the whole space */
}

.items-info .product-img img {
  width: 14rem;
  height: 8rem;
  filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
  border-radius: 1rem;
  margin-top: 21px;
  margin-left: 1rem;;
}

.items-info .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
  width: 300px;
  
  
}

.items-info .title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--main-heading);
}

.items-info .title p {
  font-style:normal;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-align: left;
  color: black;
}

.items-info .title .sub-btn{
  margin-top: -0.8rem;
  width: 8rem;
  height: 2em;
  background-color:var(--btn-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  color: var(--btn-text-clr);
  border-radius: 4px;
  /* padding: 19px; */
}
.sub-btn:hover {
  cursor: pointer;
  transition: 0.27s;
  transform: scale(1.10);
}
.course-details{
  color:black
}

.card {
  border: 1px solid #ccc;
  /* padding: 20px; */
  margin-bottom: 20px;
  border-radius: 20px;
  background-color:var(--form);
  
    position: relative;
    width:20%;
    padding: 20px;
    /* border-radius: 20px; */
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    
    cursor: pointer;
  
}
.title .listcat{
  font-size: small;
}

.product-img img {
  width: 100%;
  height: 150px;
  /* Set a specific height for the images */
  object-fit: cover;
  
  /* Maintain aspect ratio and cover the whole space */
}

.title h3 {
  margin: 10px 0;
  color: var(--main-heading);
}

.progress-bar {
  margin: 10px 0;
  color: black
}

.PlayList {
  text-align: center;
}



/* 
.learningTop{
    font-size: 40px;
    font-style: italic;
    font-style: bold;
    font-family: var(--font-stack-heading-serif);
    color: white; 
    height: 90px;
    width: 100%;
    background-color: black; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px;   
} */





.items-info .PlayList {
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--main-color);
}

.percentage-text {
  font-size: 14px;
  margin-top: 5px;}

.card:hover img {
  filter: blur(2px);
  /* Add blur effect on hover */
}


.card:hover .play-icon {
  opacity: 1;
  /* Show the play icon on hover */
}

.card .play-icon {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  opacity: 0;
  /* Initially hide the play icon */
  transition: opacity 0.3s ease-in-out;
  /* Add transition for smooth effect */
}

.subscribe_container{
  width: 95%;
  margin: 0 auto;
}