body{
    background-color: var(--bg-clr);
}
.cover{
    background-color: var(--form);
    width: 25em;
    height: 33em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(189, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: red;
    margin-top: 150px;
    
}

/* .cover{
    background-color: var(--form);
    width: 25em;
    height: 33em;
    position: relative;
    border-radius: 1em;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: red;
    margin-top: 40px;
    
} */

/* .navbar{
    background-color:white;
    width: 100%;
    height: 100%;
}

.page{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */
/* 
.cover{
    background-color: red;
    width: 25em;
    height: 29em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(189, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: red;
    
} */

.login{
    color: var(--main-heading);
}
.image{
    height: 59px;
    width: 65px;
    margin-left: 20px;
    margin-top: 5px;
    
}

input {
    border: none;
    background-color: rgb(233, 231, 231);;
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    padding: 2em;
}

input:focus{
    outline-color: rgb(122, 121, 121);
}

.login-btn{
    width: 40%;
    height: 3em;
    background-color:var(--btn-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    color: var(--btn-text-clr);
}

.login-btn:hover{
    transform: scale(1.25);
}





/* .cart{
    height: 40px;
    width: 40px;
    margin-left: 1210px;
    margin-top: -45px;
    right: 17%;
    justify-content: center;
    align-items: center;
    position: absolute;
} */

.btn1{
    color: black;
    background-color: white;
    width: 95px;
    height: 40px;
    transition: 0.27s;
    border-radius: 0.25em;
    cursor: pointer;
    position: absolute;
    right: 1%;
    margin-top: -50px;
    
     
}
/* .btn2{
    color: black;
    background-color: white;
    width: 95px;
    height: 40px;
    transition: 0.27s;
    border-radius: 0.25em;
    cursor: pointer;
    position: absolute;
    right: 8%;
    margin-top: -50px;
    
     
} */
.btn1:hover{
    transform: scale(1.15);
}
.btn2:hover{
    transform: scale(1.15);
}
.form-control{
    position: absolute;
    width: 50em;
    height: -1em;
    margin-top: -57px;
    margin-left: 420px;
    border-radius: 35px;
    background-color: #f7f9fa;;

}

/* .footer{
    background-color: rgb(141, 133, 133);
    height: 85px;
    width: 100%;
    color: white;
    bottom: 0;
    left: 0;
    position: relative;

}
.fimg{
    height: 59px;
    width: 65px;
    margin-left: 20px;
    margin-top: 15px;
}
.f{
    margin-left: 1350px;
    margin-top: -15px;
}

 */
