.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dark-theme{
  --main-heading:#5f99be;
  --para-clr:#fff;
  --btn-bg-color:#fff;
  --btn-text-clr:black;
  --bg-clr:#111b20;
  --form:#36454F;
  --foot:#36454F;;
 --comp:#36454F;
}
.light-theme{
  --main-heading:#5f99be;
  --para-clr:#333;
  --btn-bg-color:#111b20;
  --btn-text-clr:#fff;
  --bg-clr:#fff;
  --foot:#111b20;
  --comp:whitesmoke;
  --shadow: 0 0.188em 1.55em rgb(156, 156, 156);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
